/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');

/* Styling the navigation elements */
.navbar-brand {
    padding: 20px;
    overflow: visible;
    margin-right: 20px;
    background-color: transparent;
    border-width: 2px;
    border-right: 
}
.navbar-brand h1{
    color:  #002eff;
    font-size: 20px;
    font-family: 'Futura', sans-serif;
}
.bg-dark {
    background: rgb(255,170,170);
    background: -moz-linear-gradient(9deg, rgba(255,170,170,1) 35%, rgba(0,46,255,1) 100%, rgba(0,46,255,1) 100%);
    background: -webkit-linear-gradient(9deg, rgba(255,170,170,1) 35%, rgba(0,46,255,1) 100%, rgba(0,46,255,1) 100%);
    background: linear-gradient(9deg, rgba(255,170,170,1) 35%, rgba(0,46,255,1) 100%, rgba(0,46,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaaaa",endColorstr="#002eff",GradientType=1);}
.navbar {
    padding: 0px 0px 0px 2em;
    border-style: none;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255);
    border-color: rgba(255,255,255);
    margin-right: 20px;
    border-radius: 8px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #FFAAAA;
}
.active a {
    font-weight: 600;
    text-decoration: underline !important;
    font-family: 'Open Sans', sans-serif;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #ffffff;
}
.nav-link {
    font-family: 'Open Sans', sans-serif;
}   
.navbar-expand-lg .navbar-collapse {
    position: absolute;
    right: 0.5em;
}

/* Styling for the card with image and about me info */
.card {
    padding: 1em;
    margin: 2em;
    background-color: transparent;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 20px;
      
}
.card h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
}
#bio-image {
    position: relative;
    float: left;
    border-radius: 47% 53% 70% 30% / 30% 30% 70% 70%;
    max-width: 300px;
    margin: 20px;
}
.card-text {
    margin: 0, 0, 20px, 0;
    padding: 0;
    color: #ffffff;
}
.btn-primary {
    background-color: #FFAAAA;
    border-color: #ffffff;
    border-radius: 999px;
}
.btn-primary:hover {
    background-color: #a37ecb;
    border-color: #ffffff;
}
.btn-primary:focus {
    background-color: #FFAAAA;
    border-color: #3a5360;
    border-width: 1px;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255, .25);
}
.btn-primary:active {
    background-color: #ffaaaa;
    border-color: #ffffff;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #3a5360;
    background-color: #ffffff;
    border-color: #ffaaaa;
}
hr {
    background-color: white;
}
.navbar-light .navbar-toggler-icon{
    background-color: white;
}

/* Setting the background image */
@media only screen and (min-width: 900px) {
    body {
        background-image: url("../assets/background-image.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    }
@media only screen and (max-width: 900px) {
    body {
        background-image: url("../assets/background-image-mobile.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    } }