
.footer {
  /* height: auto; */
  text-align: center;
  font-family: futura;
  text-shadow: none;
  background-image: linear-gradient(to bottom, rgba(248,172,171,0), #f8acab) !important;
}


.footer-background {
  /* position: relative; */
  z-index: 1;
  background-image: url(../../assets/Branding/faded-pink-divider.svg);
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 130px;
  margin: 0 -20px 0 -20px;
  padding-bottom: 0;
}
.social-media {
  font-size: 30px;
  margin: 10px;
  color: #0a1212;
  padding-bottom: 10px;
}
#instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#facebook:hover {
  background: #3b5998;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#linkedin:hover {
  background: #0e76a8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#github:hover {
  background: #28a745;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}